.App {
  text-align: center;
  margin: 10vh 15vw 10vh 15vw;
}

.Nutrient {
  width: 250px;
}

.QTY {
  width: 150px;
  height: 200px !important;
}

.form-group {
  width: 250px;
  text-align: left
}

.control-label {
  margin-top: 20px;
  width: 250px;
}

.Search {
  float: right;
}

.Nutrients {
  margin-top: 40px;
}

.NutrientResult {
  padding: 20px;
  padding-top: 0px;
  margin: 0px !important;
  display: inline-grid;
}

.Food {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.Title {
  text-align: center;
}

.Info {
  padding-right: 20px;
  margin-bottom: 20px;
}
